.title {
    color: red;
    text-align: center;
    font-weight: 200;
}

/* css模块化只针对类选择器以及id选择器 */
h1 {
    font-style: italic;
}

#cmtTitle {
    font-size: 14px;
}

/* 被:global()包裹起来的类名 不会被模块化 而是全局生效 */
:global(.test) {
    font-style: italic;
}